{% if include.large %}
  {% assign icon_width = 220.0 %}
{% else %}
  {% assign icon_width = 130.0 %}
{% endif %}

{% assign total_icons = include.icons | size %}
{% assign speed = include.speed | default 40 %}
{% assign duration = total_icons | times: icon_width | divided_by: speed %}

<div class="icon-carousel-container my-2">
  <div class="icon-track" style="--duration: {{duration}}s">
    {% capture icon_markup %}
      {% for icon in include.icons %}
        <div class="icon-item {% if include.large %}icon-item-large{% endif %}">
            <div class="img-box {% if include.large %}img-box-large{% endif %}">
                <img src="{{ icon.light_path | relative_url }}" class="carousel-img {% if include.large %}carousel-img-large{% endif %} img-light">
                <img src="{{ icon.dark_path | relative_url }}" class="carousel-img {% if include.large %}carousel-img-large{% endif %} img-dark">
            </div>
            <span>{{ icon.name }}</span>
        </div>
      {% endfor %}
    {% endcapture %}

    <div class="icon-group">{{ icon_markup }}</div>
    <div class="icon-group">{{ icon_markup }}</div>
  </div>
</div>